.carousel{
    margin-top: -20px;
}
.caursel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right:100px;
}
.carousel-caption h3{
    font-size: 100px;
    font-weight: 300px;
}
.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}
.slider-btn{
    margin-top: 30px;
}
.slider-btn .btn{
    background-color: #e74c3c;
    columns: white;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size:  1rem;
    text-align: center;
    margin-right:15px;
    height: 50px;  
}
.slider-btn btn-2{
    color: #111010;
    background-color: white;
}