h1 {
  position: relative;
  padding: 3px;
  margin-left: 2%;
  font-family: 'Alfa Slab One', cursive;
  color: #39ca74;
}
span{
  color: #ffffffff;
}
/* Nav{
  width: auto;
  float: right;
  margin-top: 8px;
} */
li{
  display: inline-block;
  width: 100px;
}
