.box{
    margin: 0;
    padding: 0;
    background: url(https://www.naturepl.com/cache/pcache2/01635238.jpg);
}
.term-box{
    max-width: 400px;
    background-color: #333;
    color: #fff;
    font-family: "Montserrat";
    padding: 60px 30px;
}
.term-text{
    padding: 0 20px;
    height: 400px;
    overflow: auto;
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1;
}
.terms-text::webkit-scrollbar{
    width:2px;
    background-color: #282828;
}
.terms-text::webkit-scrollbar-thumb{
    background-color: #d13639;
} 
.term-text h2{
    text-transform: uppercase;
}
.term-box h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}
.term-box h4 span{
    color: #d13639;
}
.buttons{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.btn{
    height: 50px;
    width: calc(50% -6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
}
.red-btn{
    background-color: #d13639;
}
.gray-btn{
    background-color: #282828;
}
.btn:hover{
    opacity: .6;
}