.body{
margin: 0;
padding: 0;
font-family: sans-serif;
font-size: 28px;
display: flex;
align-items: center;
justify-content: center;
min-height: 40vh;
}
.ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel{
    position: relative;
    overflow: hidden;
    background-color: rgb(212,251,0);
    background: linear-gradient(10deg, rgba(212,251,0,0.5) 0%, rgba(255,0,245,0.5) 100%);
    box-shadow: 5px 10px 30px rgba(255,255,255,0.15);
}
.carousel_slider{
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    border: 2px solid #333;
    height: 120px;
}
.carousel_list{
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carousel_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}
.carousel_item:hover{
    transform: scale(1.1);
    font-size: 30px;
    background-color: rgba(255,255,255,0.7);
}